:root {
    --cinza: #2F4F4F;
    --preto: #000000;
    --branco: #ffffff;
    --cinza-escuro: #111C14;
    --azul-ciano: #296bf94f;

    --fonte-montserrat: "Montserrat", sans-serif;

}

.container {
    font-family: var(--fonte-montserrat);

    padding: 1.8rem 2%;
}

